Label {
    -fx-border: 1;
    -fx-min-width: 60;
    -fx-text-alignment: center;
    -fx-min-height: 60;
    -fx-border-color:black;
    -fx-border-style: solid;
    -fx-padding: 8 8 8 8;
    -fx-background-color: #afbacc;
    -fx-alignment: center;
    -fx-font: 30px Arial;
    -fx-font-weight: bold;
    -fx-border-radius: 6 6 6 6;
 }

 Button {
     -fx-background-color: #CCC1AF;
     -fx-border-color: #AB997C;
     -fx-border-weight: bold;
     -fx-border-radius: 5;
     -fx-padding: 3 6 6 6;
     -fx-min-width: 50;
     -fx-min-height: 20;
 }

TextField {
    -fx-min-width: 100;
    -fx-max-width: 300;
    -fx-min-height: 125;
    -fx-min-height: 500;
}

.clicked {
    -fx-background-color: #889dbf;
}

.timerStyle {
     -fx-background-color: #CCC1AF;
     -fx-border-color: #AB997C;
     -fx-border-weight: bold;
     -fx-border-radius: 5;
     -fx-padding: 3 6 6 6;
     -fx-min-width: 50;
     -fx-min-height: 30;
     -fx-font: 14px Arial;
     -fx-font-weight: NORMAL;
}

.solutionTextArea {
    -fx-padding: 10px;
    -fx-border-insets: 10px;
    -fx-background-insets: 10px;
    -fx-min-width: 320;
   }